* {
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #F4E0B6 !important;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: #151515;
  text-decoration: none;
}
a:hover {
  color: #888888;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.imagen-animada {
  animation: animacion 2s ease-in-out infinite;
}

ul {
  list-style: none;
}

.client-side li, nav li, main li {
  transition: all 150ms ease;
}
.client-side li:hover, nav li:hover, main li:hover {
  transform: scale(1.1);
}

nav ul li a {
  color: #151515;
  text-decoration: none;
}
nav ul li a:hover {
  color: #EC6A89;
}

.client-side ul li a img {
  max-width: 24px;
}

.form-container {
  width: 100%;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cecece;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: 600;
  background-color: #EC6A89;
  color: #151515;
  font-size: 16px;
  cursor: pointer;
  transition: all 250ms ease;
}
button:hover {
  background-color: #f37995;
}

.btn-personalizado {
  background-color: #EC6A89;
  color: #151515;
  border: 1px solid #151515;
  border-radius: 0px;
  font-weight: 600;
  padding: 8px;
  text-transform: uppercase;
  transition: all 200ms ease;
}
.btn-personalizado:hover {
  background-color: #f37995;
}

.switches-type {
  max-width: 500px;
}

.card-container a {
  text-decoration: none;
  transition: all 300ms ease;
}
.card-container a:hover {
  transform: scale(1.02);
}

.rating {
  color: #7BC0AB;
}

.card {
  max-width: 280px;
}
.card .img-container {
  background-color: #EC6A89;
}
.card .price {
  background-color: #FCE46A;
  border: 1px solid #151515;
}

.image-principal {
  background-color: #FCFCFC;
  padding: 120px 80px;
  text-align: center;
}
.image-principal img {
  max-width: 400px;
}

.side-img a {
  transition: all 25ms ease;
}
.side-img a div {
  background-color: #FCFCFC;
}
.side-img a:hover {
  transform: scale(1.05);
}

.animate {
  animation: animacion 2s ease-in-out infinite;
}

.form-container {
  width: 100%;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cecece;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: 600;
  background-color: #EC6A89;
  color: #151515;
  font-size: 16px;
  cursor: pointer;
  transition: all 250ms ease;
}
button:hover {
  background-color: #f37995;
}

.logo-container h1 {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 250ms ease;
}
.logo-container h1 a {
  text-decoration: none;
  color: #151515;
  font-weight: 500;
}
.logo-container h1:hover {
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.keyboard-banner img {
  max-width: 600px;
}

main ul li a img {
  max-width: 30px;
}

.create-keyboard img {
  max-width: 500px;
}
.create-keyboard .keyboard {
  color: #EC6A89;
}
.create-keyboard .underline {
  border-bottom: 4px solid #EC6A89;
}

/*# sourceMappingURL=main.css.map */
