*{
    font-family: "Epilogue", sans-serif;
    /* padding: 0;
    margin: 0; */
}

body{
    background-color: #F4E0B6 !important;
}

img{
    width: 100%;
}

.rose-submit{
    background-color: #EC6A89 !important;
}

a{
    color: #151515 !important;
}

a:hover{
    color: #757575 !important;
}

.logo-container h1{
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.icons{
    transition:all 150ms ease-out;
}

.icon{
    width: 25px;
    height: auto;
}

.icons:hover{
    transform: scale(1.3);
}

ul{
    list-style: none;
}

.border-custom{
    border: 1px solid #151515;
}

header{
    grid-area: header;
    
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.text-heading{
    font-size: 2.5rem;
}

.red-btn{
    background-color: #FE8372;
}


.keyboard-banner{
    max-width: 600px;
}

.card{
    max-width: 280px;
}

.rating{
    color: #7BC0AB;
}

.yellow{
    background-color:#FCE46A;
}

.switches-type{
    max-width: 500px;
}

/* Estilos formulario */
.custom-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.custom-input-group {
    margin-bottom: 1.5rem;
}

.custom-input-text {
    background-color: #FE8372;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-form-control {
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    padding: 0.75rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-form-control:focus {
    border-color: #FE8372;
    box-shadow: 0 0 5px rgba(254, 131, 114, 0.5);
}

.custom-btn {
    background-color: #EC6A89;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
    background-color: #d85a75;
    transform: translateY(-2px);
}

.custom-btn:active {
    background-color: #c74d66;
    transform: translateY(0);
}
