$form-padding: 20px;

.form-container {
    width: 100%;
    padding: $form-padding;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #cecece;
        font-size: 16px;
    }

    textarea {
        resize: vertical;
    }
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: 600;
    background-color: $btn-color-rose;
    color: $font-black;
    font-size: 16px;
    cursor: pointer;
    transition: all 250ms ease;
    &:hover {
        background-color: $sweet-rose;
    }
}
